#main {
  
}


.main-title {
    margin: 50px auto;
    border-radius: 10px;
    text-align: center;
    width: 40%;
}

.input {
    margin: auto;
    display: flex;
    flex-direction: column;
}

.input-one, .input-two{
    margin: auto;
    height: 10em;
    width:40em;
    text-align: center;
    border-radius: 10px;
    padding: 20px;
}

.input-radio{
    width: 40%;
    height: 10em;
    font-size: 1rem;
}
