*{
    
}

#grid-play {
    width : 100%;
    background-color: aqua;
    display: flex;
    flex-flow: row wrap;

}


.cell{
    background-color: grey;
    height: 200px;
    width: 200px;
    margin-bottom: 10px;
    margin-left: 10px;

    display: flex;
    justify-content: center;
    align-items:center;
}

